* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #dbbaf3 #f3f1f1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f3f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #dbbaf3;
    border-radius: 20px;
    border: 3px solid #f3f1f1;
}

body {
    font-family: 'Oregano', cursive;
    text-align: center;
    background-color: #fef0a9;
}

.bg {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/02/18/25/architecture-2572762_960_720.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    opacity: 0.8;
    z-index: -10;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgba(152, 153, 201, 0.7);
}

.fixed-top {
    right: 15px;
    left: 15px;
}

.imagem-titulo {
    max-height: 365px;
    margin-top: 1em;
}

.sobre {
    height: 100vh;
    padding: 6em;
    background-color: rgba(161,211,255,0.7);
    color: #18194F;
    align-items: center;
}
  
.imagem-sobre {
    height: 100px;
    margin: 10px 0px;
}

.adms {
    height: 100vh;
    padding: 6em;
    background-color: rgba(205,161,255,0.7);
    color: #18194F;
}

#exibirAdms {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.img-adms,
.img-membros {
    border-radius: 0px 25px 25px 25px;
    object-fit: cover;
    width: 150px;
}

.img-membros {
    height: 100px;
}

.adms figcaption,
.membros figcaption {
    font-weight: bold;
    font-size: 1.1em;
}

.membros {
    background-color: rgba(255,252,161,0.7);
    color: #18194F;
    padding: 6em;
}

#exibirMembros {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-around;
    margin-top: 20px;
}

.footer {
    background-color: #F3F1F1;
    padding-top: 10px;
    font-size: 15px;
}

@media (max-width: 399.98px) {
    body {
      font-size: 12px;
    }
    .nav-link {
        font-size: xxx-large;
    }
    #exibirAdms,
    #exibirMembros {
      display: grid;
      grid-template-columns: repeat(2, 130px);
      justify-content: space-around;
      margin-top: 20px;
    }
    .adms {
      padding: 6em 0em 40em 0em;
    }
    .img-adms,
    .img-membros {
      width: 100px;
    }
    .imagem-titulo {
      max-height: 130px;
      margin-top: 1em;
    }
}
  
 @media (min-width: 400px) and (max-width: 575.98px){
    body {
      font-size: 14px;
    }
    #exibirAdms,
    #exibirMembros {
      display: grid;
      grid-template-columns: repeat(2, 185px);
      justify-content: space-around;
      margin-top: 20px;
    }
    .adms {
      padding: 6em 0em 40em 0em;
    }
    .img-adms {
      width: 100px;
    }
    .imagem-titulo {
      max-height: 170px;
      margin-top: 1em;
    }
}
  
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
      font-size: 14px;
    }
    #exibirAdms,
    #exibirMembros {
      display: grid;
      grid-template-columns: repeat(2, 185px);
      justify-content: space-around;
      margin-top: 20px;
    }
    .adms {
      padding: 6em 0em 40em 0em;
    }
    .img-adms {
      width: 100px;
    }
    .imagem-titulo {
      max-height: 170px;
      margin-top: 1em;
    }
}
  
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
      font-size: 14px;
    }
    #exibirAdms,
    #exibirMembros {
      display: grid;
      grid-template-columns: repeat(3, 185px);
      justify-content: space-around;
      margin-top: 20px;
    }
    .adms {
      padding: 6em 0em 40em 0em;
    }
    .img-adms {
      width: 150px;
    }
    .imagem-titulo {
      max-height: 275px;
      margin-top: 1em;
    }
}
  
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
      font-size: 14px;
    }
    #exibirAdms,
    #exibirMembros {
      display: grid;
      grid-template-columns: repeat(3, 185px);
      justify-content: space-around;
      margin-top: 20px;
    }
    .adms {
      padding: 6em 0em 40em 0em;
    }
    .img-adms {
      width: 150px;
    }
    .imagem-titulo {
      max-height: 305px;
      margin-top: 1em;
    }
}