* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #dbbaf3 #f3f1f1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f3f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #dbbaf3;
    border-radius: 20px;
    border: 3px solid #f3f1f1;
}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: 'Oregano', cursive;
    text-align: center;
    background-color: #fef0a9;
}

.bg {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/02/18/25/architecture-2572762_960_720.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    opacity: 0.8;
    z-index: -10;
}

.fixed-top {
    right: 15px;
    left: 15px;
}

.listasDeLeitura {
    height: auto;
    padding: 6em;
    background-color: rgba(161,255,252,0.7);
    color: #18194F;
}

.imagem-titulo {
    max-height: 100px;
    margin: 15px 10px 13px;
    opacity: 0.7;
}

.letra {
    padding: 7px 25px;
    border-radius: 7px;
    text-align: center;
}

.img-listasDeLeitura {
    border-radius: 0px 25px 25px 25px;
    object-fit: cover;
    width: 150px;
    height: 100px;
}

.listasDeLeitura figcaption {
    font-weight: bold;
    font-size: 1.1em;
}

#exibirListasDeLeitura {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-around;
    margin-top: 20px;
}

.footer {
    background-color: #F3F1F1;
    padding-top: 10px;
    font-size: 15px;
}

@media (max-width: 399.98px) {
    body {
        font-size: 12px;
    }
    .imagem-titulo {
        max-height: 45px;
    }
    #exibirListasDeLeitura {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        justify-content: space-around;
        margin-top: 20px;
    }
    .img-listasDeLeitura {
        width: 100px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px){
    body {
        font-size: 14px;
    }
    .imagem-titulo {
        max-height: 45px;
    }
    #exibirListasDeLeitura {
        display: grid;
        grid-template-columns: repeat(2, 185px);
        justify-content: space-around;
        margin-top: 20px;
    }
    .img-listasDeLeitura {
        width: 100px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 14px;
    }
    .imagem-titulo {
        max-height: 65px;
    }
    #exibirListasDeLeitura {
        display: grid;
        grid-template-columns: repeat(2, 185px);
        justify-content: space-around;
        margin-top: 20px;
    }
    .img-listasDeLeitura {
        width: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        font-size: 14px;
    }
    .imagem-titulo {
        max-height: 65px;
    }
    #exibirListasDeLeitura {
        display: grid;
        grid-template-columns: repeat(3, 185px);
        justify-content: space-around;
        margin-top: 20px;
    }
    .img-listasDeLeitura {
        width: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        font-size: 14px;
    }
    #exibirListasDeLeitura{
        display: grid;
        grid-template-columns: repeat(3, 185px);
        justify-content: space-around;
        margin-top: 20px;
    }
    .img-listasDeLeitura {
        width: 150px;
    }
}